<template>
  <div class="row q-mt-lg" v-if="img">
    <div class="col-12">
      <q-img style="height: 200px" :src="url + '/images/banner-second/' + img " />
    </div>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  data () {
    return {
      img: null,
      url: domain
    }
  },
  methods: {
    getBanner () {
      this.$store.dispatch('banner/getBanSecond')
        .then((resp) => {
          if (resp.data.success.length > 0) {
            this.img = resp.data.success[0].path
          }
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getBanner()
  }
}
</script>
