<template>
  <div class="row q-mt-lg">
    <div class="col-12">
      <q-img src="images/banner4.png" />
    </div>
    <div class="col-12 q-mt-lg">
      <div class="row full-width">
        <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
          Información
        </div>
        <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
          <div class="bottom-color"></div>
        </div>
        <div class="col-12 text-center q-mt-md">
          <q-list>
            <q-item clickable v-ripple @click="$pushRoute('/main/politicas')">
              <q-item-section>
                <p class="text-capitalize text-black font-17">Políticas de privacidad</p>
              </q-item-section>
              <q-item-section avatar>
                <div style="width: 50px; height: 50px; border-radius: 50%; margin-top: -10px" class="bg-primary q-pt-sm">
                  <img src="images/Grupo -1.png" width="30px" height="28px">
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="col-12 text-center q-mt-sm">
          <q-list>
            <q-item clickable v-ripple @click="$pushRoute('/main/terminos')">
              <q-item-section>
                <p class="text-capitalize text-black font-17">Términos y condiciones</p>
              </q-item-section>
              <q-item-section avatar>
                <div style="width: 50px; height: 50px; border-radius: 50%; margin-top: -10px" class="bg-primary q-pt-sm">
                  <img src="images/Grupo -2@2x.png" width="25px" height="30px">
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="col-12 text-center q-mt-sm">
          <q-list>
            <q-item clickable v-ripple @click="$pushRoute('/main/comprar')">
              <q-item-section>
                <p class="text-capitalize text-black font-17">¿Como comprar?</p>
              </q-item-section>
              <q-item-section avatar>
                <div style="width: 50px; height: 50px; border-radius: 50%; margin-top: -10px" class="bg-primary q-pt-sm">
                  <img src="images/comprar-1.png" width="30px" height="30px">
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
    </div>
    <div class="col-12 bg-primary q-mt-lg">
      <div class="row">
        <div class="col-12 text-center q-mt-lg">
          <span class="text-black font-17">
            Calle 33 AA 80 C 47, Medellín
          </span>
        </div>
        <div class="col-12 text-center q-mt-sm">
          <span class="text-black font-17">
            Celular: +(57) 318 284 0906
          </span>
        </div>
        <div class="col-12 text-center q-mt-lg border-top-color">
          <p class="text-uppercase text-black font-17 q-mt-md">
            2020 Katikas, All right reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
    }
  },
  methods: {
    openRrSs (key) {
      cordova.InAppBrowser.open(key, '_system', 'location=yes')
    }
  },
  beforeMount () {
  }
}
</script>
