<template>
  <div class="row q-mt-lg" v-if="showSection">
    <div class="col-12 text-center title text-uppercase text-warning">
      Lo mas vendido
    </div>
    <div class="col-12 q-mt-sm text-center text-black text-uppercase text-weight-bolder">
      <span class="new-prods text-h5 title">productos destacados</span>
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-6 q-pa-md" v-for="(product, idx) in hightLight" :key="idx" @click="filterProduct(product.id)">
      <div class="new-product-card">
        <div class="row full-width">
          <div class="col-12">
            <q-img width="100%" height="200px" :src="product.images[0].src" />
          </div>
          <div class="col-12 text-center q-mt-md" style="height:50px">
            <span class="text-black ellipsis-2-lines title-card text-weight-bolder">
              {{product.name}}
            </span>
          </div>
          <div class="col-12 text-center">
            <span class="text-warning ellipsis-2-lines title title-card text-weight-bolder">
              <span v-html="product.price_html"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    hightLight () {
      return this.shuffle(this.products)
    }
  },
  data () {
    return {
      showSection: false
    }
  },
  methods: {
    shuffle (array) {
      var currentIndex = array.length, temporaryValue, randomIndex
      while (parseInt(0) !== parseInt(currentIndex)) {
        randomIndex = Math.floor(Math.random() * currentIndex)
        currentIndex -= 1
        temporaryValue = array[currentIndex]
        array[currentIndex] = array[randomIndex]
        array[randomIndex] = temporaryValue
      }
      return array.slice(0, 4)
    },
    filterProduct (idx) {
      var search = this.products.filter(data => {
        return data.id === idx
      })
      this.$store.dispatch('products/setProductsFilter', search[0])
        .then((resp) => {
          this.$pushRoute('/main/product/filter')
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    setInterval(() => {
      if (this.products.length >= 1) {
        this.showSection = true
      }
    }, (1000))
  }
}
</script>
