<template>
  <div class="row">
    <div class="col-12">
      <q-carousel animated v-model="slide" autoplay infinite style="height: 200px">
        <q-carousel-slide v-for="(img, idx) in carousel.images" :key="idx" class="full-width" :name="idx" :img-src="url + '/images/banner/' + img.path " />
      </q-carousel>
    </div>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  data () {
    return {
      slide: 0,
      carousel: {},
      url: domain
    }
  },
  methods: {
    getBanner () {
      this.$store.dispatch('banner/getBan')
        .then((resp) => {
          var search = resp.data.success.filter(data => {
            return data.status === true
          })
          this.carousel = search[0]
        })
        .catch((err) => {
          this.$SendNotify('negative', err[0].message, 'red-9')
        })
    }
  },
  beforeMount () {
    this.getBanner()
  }
}
</script>
