<template>
  <div class="row q-mt-lg">
    <div class="col-12 text-center title text-uppercase text-warning">
      mira la nueva colección
    </div>
    <div class="col-12 q-mt-sm text-center text-black text-uppercase text-weight-bolder">
      <span class="new-prods text-h5 title">nuevos productos</span>
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-mt-md" v-if="firstTen.length > 3">
      <newList :listProduct="firstTen" />
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default
import newList from './newsList'

export default {
  // name: 'ComponentName',
  components: {
    newList
  },
  data () {
    return {
      slide: 1,
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      productss: [],
      page: 1,
      firstTen: []
    }
  },
  methods: {
    firstTenGet () {
      this.WooCommerce.get('products?stock_status=instock&filter[order]=desc&per_page=4')
        .then((response) => {
          this.firstTen = response.data
        })
        .catch((error) => {
          console.log(error.response.data)
        })
    },
    getProducts () {
      if (this.productss.length === 0) {
        this.$q.loading.show()
      }
      this.WooCommerce.get('products?stock_status=instock&orderby=popularity&order=desc&per_page=30')
        .then((response) => {
          if (response.data.length >= 1) {
            this.$store.dispatch('products/setProducts', response.data)
              .then((resp) => {
                this.$q.loading.hide()
              })
              .catch((err) => {
                console.log(err)
                this.$q.loading.hide()
              })
          }
        })
        .catch((error) => {
          console.log(error.response.data)
        })
    }
  },
  beforeMount () {
    this.getProducts()
    this.firstTenGet()
  }
}
</script>
