<template>
  <div class="row">
    <div class="col-6 q-pa-md" v-for="(product, idx) in listProduct" :key="idx" @click="filterProduct(product.id)">
      <div class="new-product-card">
        <div class="row full-width">
          <div class="col-12">
            <q-img width="100%" height="200px" :src="product.images[0].src" />
          </div>
          <div class="col-12 text-center q-mt-md" style="height:50px">
            <span class="text-black ellipsis-2-lines title-card text-weight-bolder">
              {{product.name}}
            </span>
          </div>
          <div class="col-12 text-center">
            <span class="text-warning ellipsis-2-lines title title-card text-weight-bolder">
              <span v-html="product.price_html"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    listProduct: Array
  },
  computed: {
    products () {
      return this.$store.getters['products/products']
    }
  },
  data () {
    return {}
  },
  methods: {
    filterProduct (idx) {
      var search = this.listProduct.filter(data => {
        return data.id === idx
      })
      if (search.length === 0) {
        return false
      }
      this.$store.dispatch('products/setProductsFilter', search[0])
        .then((resp) => {
          this.$pushRoute('/main/product/filter')
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
  }
}
</script>
