<template>
  <q-page>
    <compra />
  </q-page>
</template>

<script>
import compra from 'src/components/main/legal/compra'

export default {
  // name: 'PageName',
  components: {
    compra
  }
}
</script>
