<template>
  <q-page>
    <index />
  </q-page>
</template>

<script>
import index from 'src/components/main/favorite'

export default {
  // name: 'PageName',
  components: {
    index
  }
}
</script>
