<template>
  <q-page>
    <offerts />
  </q-page>
</template>

<script>
import offerts from 'src/components/main/offerts'

export default {
  // name: 'PageName',
  components: {
    offerts
  }
}
</script>
