<template>
  <q-page>
    <politicas />
  </q-page>
</template>

<script>
import politicas from 'src/components/main/legal/politicas'

export default {
  // name: 'PageName',
  components: {
    politicas
  }
}
</script>
