<template>
  <q-page>
    <terms />
  </q-page>
</template>

<script>
import terms from 'src/components/main/legal/terms'

export default {
  // name: 'PageName',
  components: {
    terms
  }
}
</script>
