<script>
  export default {
    name: 'autocomplete',

    props: {
      items: {
        type: Array,
        required: false,
        default: () => [],
      },
      isAsync: {
        type: Boolean,
        required: false,
        default: false,
      },
    },

    data() {
      return {
        isOpen: false,
        results: [],
        search: '',
        isLoading: false,
        arrowCounter: 0,
      };
    },

    methods: {
      onChange() {
        // Let's warn the parent that a change was made
        this.$emit('input', this.search)

        // Is the data given by an outside ajax request?
        if (this.isAsync) {
          this.isLoading = true
        } else {
          // Let's  our flat array
          this.filterResults()
          this.isOpen = true
        }
      },

      filterResults() {
        // first uncapitalize all the things
        this.results = this.items.filter((item) => {
          return item.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        });
        if (this.results.length === 0) {
          this.isOpen = false
        }
      },
      setResult(result, idx) {
        this.search = result
        this.isOpen = false
        this.filterProds(idx)
      },
      onArrowDown(evt) {
        if (this.arrowCounter < this.results.length) {
          this.arrowCounter = this.arrowCounter + 1;
        }
      },
      onArrowUp() {
        if (this.arrowCounter > 0) {
          this.arrowCounter = this.arrowCounter -1;
        }
      },
      onEnter() {
        this.search = this.results[this.arrowCounter];
        this.isOpen = false;
        this.arrowCounter = -1;
      },
      handleClickOutside(evt) {
        if (!this.$el.contains(evt.target)) {
          this.isOpen = false;
          this.arrowCounter = -1;
        }
      },
	    filterProduct (idx) {
        var search = this.items.filter(data => {
          return data.id === idx
        })
        this.$store.dispatch('products/setProductsFilter', search[0])
          .then((resp) => {
            this.$pushRoute('/main/product/filter')
          })
          .catch((err) => {
            console.log(err)
          })
      },
	    routerPush (key) {
	      this.$router.push({ path: key })
	    },
	    filterByName () {
	      let result = this.items
	      
	      const filterValue = this.search.toLowerCase()
	      
	      const filter = event => 
	          event.name.toLowerCase().includes(filterValue)
	      
	      if (result.filter(filter).length >= 1) {
          this.routerPush('/dashboard/search')
	        this.$store.dispatch('product/getProdsByNames', result.filter(filter))
	          .then((resp) => {
	            this.routerPush('/dashboard/search/from/index')
	          })
	          .catch((err) => {
	            console.log(err)
	          })
	      } else {
	        alert('No existe ningun producto con tu criterio de busqueda')
	      }
	    }
    },
    watch: {
      items: function (val, oldValue) {
        // actually compare them
        if (val.length !== oldValue.length) {
          this.results = val;
          this.isLoading = false;
        }
      },
    },
    mounted() {
      document.addEventListener('click', this.handleClickOutside)
    },
    destroyed() {
      document.removeEventListener('click', this.handleClickOutside)
    }
  };
</script>

<template>
  <div class="autocomplete">
    <q-input @input="onChange" v-model="search" @keydown.down="onArrowDown" @keydown.up="onArrowUp" @keydown.enter="onEnter" outlined color="primary" label-color="white" label="Buscar productos">
      <template v-slot:append>
        <q-icon name="img:images/buscar-1@2x.png" />
      </template>
    </q-input>
    <q-scroll-area class="shadow-9" v-show="isOpen" style="height:130px">
	  <q-list separator>
	    <q-item v-if="isLoading">
	      <q-item-section>Loading results...</q-item-section>
	    </q-item>
	    <q-item clickable v-ripple v-else v-for="(result, i) in results" :key="i" @click="filterProduct(result.id)">
        <q-item-section avatar>
          <q-avatar v-if="result.images.length > 0">
            <img v-if="result.images[0].src" :src="result.images[0].src" width="100%" />
          </q-avatar>
        </q-item-section>
	      <q-item-section>
	        <q-item-label class="ellipsis-2-lines">{{ result.name }}</q-item-label>
	      </q-item-section>
	    </q-item>
	  </q-list>
	</q-scroll-area>
  </div>
</template>

<style>
  .autocomplete {
    position: relative;
  }

  .autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
    width: 100%;
  }

  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }

  .autocomplete-result.is-active,
  .autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
  }

</style>