<template>
  <div class="row">
    <div class="col-12">
      <q-carousel animated v-model="slide" autoplay infinite style="height: 440px">
        <q-carousel-slide class="full-width relative" v-for="(image, idx) in images" :key="idx" :name="idx">
          <img class="img-car" :src="image.src">
          <q-btn @click="showImg(image.src)" color="primary" text-color="white" icon="search" class="absolute-btn" />
        </q-carousel-slide>
      </q-carousel>
    </div>
    <div class="col-12">
      <q-dialog v-model="imgShow">
        <q-card class="bg-transparent q-pa-none">
          <q-card-section class="q-pa-none relative">
            <img :src="urlImgShow" height="430px" width="100%" />
            <q-btn @click="imgShow = false" flat densed icon="close" color="primary" class="absolute absolute-top-right" />
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    images: Array
  },
  data () {
    return {
      slide: 0,
      imgShow: false,
      urlImgShow: ''
    }
  },
  methods: {
    showImg (url) {
      this.urlImgShow = url
      this.imgShow = true
    }
  },
  beforeMount () {
  }
}
</script>
