<template>
  <div class="row">
    <div class="col-12">
      <span class="title font-20 text-black text-weight-bolder">
        {{name}}
      </span>
    </div>
    <div class="col-12" v-if="shortDescription.length > 0">
      <span class="font-17 text-black">
        <span v-html="shortDescription"></span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    name: String,
    shortDescription: String
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
