<template>
  <div class="row">
    <div class="col-12">
      <span class="title font-20 text-primary text-weight-bolder">
         <span v-html="price"></span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    price: String,
    onSale: Boolean
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
