<template>
  <div class="row">
    <div class="col-12">
      <headers />
    </div>
    <div class="col-12 q-pa-lg">
      <cartListGrid />
    </div>
    <div class="col-12 q-pa-lg">
      <coupon />
    </div>
    <div class="col-12 q-pa-lg">
      <total />
    </div>
    <div class="col-12 q-pa-lg" style="margin-top: -50px">
      <q-btn @click="finishOrder" label="finalizar compra" color="primary" size="19px" class="full-width" />
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

import headers from 'src/components/main/cart/header'
import cartListGrid from 'src/components/main/cart/cartListGrid'
import coupon from 'src/components/main/cart/coupon'
import total from 'src/components/main/cart/total'

export default {
  // name: 'ComponentName',
  computed: {
    carts () {
      return this.$store.getters['order/cart']
    },
    order () {
      return this.$store.getters['order/order']
    },
    totalOrder () {
      return this.$store.getters['order/total']
    }
  },
  components: {
    headers,
    cartListGrid,
    coupon,
    total
  },
  data () {
    return {
      lineItems: [],
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      })
    }
  },
  methods: {
    finishOrder () {
      this.lineItems = []
      for (var i = 0; i < this.carts.length; i++) {
        var data = {}
        data.product_id = this.carts[i].id
        data.quantity = this.carts[i].quantity
        data.price = '' + this.carts[i].product.price
        var total = (this.carts[i].product.price * this.carts[i].quantity)
        data.total = '' + total
        if (this.carts[i].variation) {
          data.variation_id = this.carts[i].variation.id
        }
        this.lineItems.push(data)
      }
      this.order.total = this.totalOrder
      this.order.items = this.lineItems
      this.$store.dispatch('order/setOrder', this.order)
        .then((resp) => {
          this.$pushRoute('/main/payment')
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
  }
}
</script>
