<template>
  <div class="row">
    <div class="col-12 q-mt-lg text-center text-black text-uppercase text-weight-bolder">
      <span class="new-prods text-h5 title">contacto</span>
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-mt-sm q-pa-md">
      <q-form @submit="sendMessage" class="row">
        <div class="col-12">
          <q-input filled v-model="messageData.name" label="Nombre y apellido" />
        </div>
        <div class="col-12 q-mt-md">
          <q-input filled v-model="messageData.email" label="Correo" />
        </div>
        <div class="col-12 q-mt-md">
          <q-input filled v-model="messageData.phone" label="Celular" />
        </div>
        <div class="col-12 q-mt-md">
          <q-input type="textarea" v-model="messageData.message" label="Mensaje..." />
        </div>
        <div class="col-12 q-mt-md">
          <q-btn :disable="!messageData.message" label="Enviar" icon-right="send" color="primary" type="submit" class="full-width" />
        </div>
      </q-form>
    </div>
    <div class="col-12 q-mt-lg text-center text-weight-bolder">
      <center>
        <q-btn @click="openWs" icon="phone" color="primary" label="(+57) 318 284 0906">
        </q-btn>
      </center>
    </div>
    <div class="col-12 q-mt-lg text-center text-weight-bolder">
      <span class="new-prods text-h5"><q-icon size="30px" name="map" /> Calle 33 AA 80 C 47, Medellín.</span>
    </div>
    <div class="col-12 q-pa-sm q-mt-sm q-mb-sm">
      <center>
        <q-btn @click="openWaze" icon="img:images/waze.svg" color="primary" label="como llegar">
        </q-btn>
      </center>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    favorites () {
      return this.$store.getters['favorite/favorites']
    },
    codes () {
      return this.$store.getters['auth/code']
    },
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  components: {
  },
  data () {
    return {
      favoritesAll: [],
      messageData: {}
    }
  },
  methods: {
    sendMessage () {
      this.$q.loading.show({
        message: 'Enviando tu mensaje...'
      })
      this.$store.dispatch('favorite/contact', this.messageData)
        .then((resp) => {
          this.messageData = {}
          this.$q.loading.hide()
          this.$SendNotify('positive', 'Se ha enviado tu mensaje.', 'primary')
        })
        .catch((err) => {
          this.$q.loading.hide()
          console.log(err)
        })
    },
    openWaze () {
      window.open('https://www.waze.com/ul?ll=6.2561635,-75.5937865&navigate=yes&zoom=17')
    },
    openWs () {
      window.open('https://api.whatsapp.com/send?phone=+573182840906')
    }
  }
}
</script>
