<template>
  <div class="row" v-if="charged">
    <div class="col-12 q-mt-lg text-center text-black text-uppercase text-weight-bolder">
      <span class="new-prods text-h5 title">favoritos</span>
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-mt-xl q-pt-xl" v-if="noHaveFavorite && favoritesAll.length < 1">
      <center>
        <q-icon name="sentiment_very_dissatisfied" size="50px"></q-icon> <br>
        <span class="text-h6 text-black title text-bold">
          No posees favoritos...
        </span>
      </center>
    </div>
    <div class="col-12 q-mt-xl" v-if="!noHaveFavorite && favoritesAll.length < 1">
      <center>
         <q-spinner
          color="primary"
          size="3em"
        />
      </center>
    </div>
    <div class="col-6 q-pa-md" v-for="(product, idx) in favoritesAll" :key="idx" @click="filterProduct(product.id)">
      <div class="new-product-card">
        <div class="row full-width">
          <div class="col-12">
            <q-img width="100%" height="200px" :src="product.images[0].src" />
          </div>
          <div class="col-12 text-center q-mt-md" style="height:50px">
            <span class="text-black ellipsis-2-lines title-card text-weight-bolder">
              {{product.name}}
            </span>
          </div>
          <div class="col-12 text-center">
            <span class="text-warning ellipsis-2-lines title title-card text-weight-bolder">
              <span v-html="product.price_html"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

export default {
  // name: 'ComponentName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    favorites () {
      return this.$store.getters['favorite/favorites']
    },
    codes () {
      return this.$store.getters['auth/code']
    },
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  components: {
  },
  data () {
    return {
      favoritesAll: [],
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      charged: false,
      noHaveFavorite: true
    }
  },
  methods: {
    getFavorite () {
      this.$q.loading.show()
      var data = {}
      data.cellphoneCode = this.codes
      this.$store.dispatch('favorite/getUserFavorite', data)
        .then((resp) => {
          if (this.favorites.length > 1) {
            this.noHaveFavorite = false
          }
          this.setFavorites()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setFavorites () {
      for (var i = 0; i < this.favorites.length; i++) {
        this.WooCommerce.get('products/' + this.favorites[i].product)
          .then((response) => {
            this.favoritesAll.push(response.data)
          })
          .catch((error) => {
            console.log(error.response.data)
          })
      }
      this.charged = true
      this.$q.loading.hide()
    },
    filterProduct (idx) {
      var search = this.favoritesAll.filter(data => {
        return data.id === idx
      })
      if (search.length === 0) {
        return false
      }
      this.$store.dispatch('products/setProductsFilter', search[0])
        .then((resp) => {
          this.$pushRoute('/main/product/filter')
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getFavorite()
  }
}
</script>
