<template>
  <div class="row">
    <div class="col-12 q-pa-sm q-mt-lg">
      <carousel :images="filter.images" />
      <div v-if="porcent > 0" class="bg-primary" style="top:50px; right:28px; position:absolute; height:44px; width:44px; padding-top:13px; padding-left:3px; border-radius:50px; color: white; font-size:13px">
        <span>- {{porcent.toFixed()}}%</span>
      </div>
    </div>
    <div class="col-12 q-pa-lg">
      <name :name="filter.name" :shortDescription="filter.short_description" />
    </div>
    <div class="col-12 q-pa-lg">
      <price :price="filter.price_html" :onSale="filter.on_sale" />
    </div>
    <div class="col-12 q-pl-lg q-pr-lg q-mb-lg" v-if="talla.length > 0">
      <q-select color="teal" filled v-model="sizeSelected" :options="talla" label="Talla">
        <template v-slot:prepend>
          <q-icon name="straighten" />
        </template>
      </q-select>
    </div>
    <div class="col-12 q-pl-lg q-pr-lg q-mb-lg" v-if="colors.length > 0">
      <q-select color="teal" filled v-model="colourSelected" :options="colors" label="Color">
        <template v-slot:prepend>
          <q-icon name="color_lens" />
        </template>
      </q-select>
    </div>
    <div class="col-12 q-pl-lg q-pr-lg q-pb-lg">
      <div class="row full-width">
        <div class="col-4">
          <div class="row">
            <div class="col-4 buttom-filter" @click="removeQuantity">
              <q-icon name="remove" />
            </div>
            <div class="col-4 filter-input-quantity">
              <q-input read-only disabled filled color="black" size="10px" v-model="quantity" />
            </div>
            <div class="col-4 buttom-filter" @click="addQuantity">
              <q-icon name="add" />
            </div>
          </div>
        </div>
        <div class="col-8">
          <q-btn @click="addToCart" color="accent" text-color="white" label="Añadir al carrito" class="full-width" size="18px" />
        </div>
      </div>
    </div>
    <div v-if="!isInFavorite" class="col-12 q-pl-lg q-pr-lg q-pb-lg" @click="addFavorite()">
      <div class="row">
        <div class="col-1">
          <q-icon name="img:images/corazon@2x.png" size="19px" />
        </div>
        <div class="col-11 text-left">
          <span class="font-17 q-pl-md">Añadir a favoritos</span>
        </div>
      </div>
    </div>
    <div v-if="isInFavorite" class="col-12 q-pl-lg q-pr-lg q-pb-lg" @click="deleteFavorite()">
      <div class="row">
        <div class="col-1">
          <q-icon name="favorite" color="red" size="24px" />
        </div>
        <div class="col-11 text-left">
          <span class="font-17 q-pl-md">Quitar de favoritos</span>
        </div>
      </div>
    </div>
    <div class="col-12 q-pl-lg q-pr-lg q-pb-lg">
      <q-separator size="3px" />
    </div>
    <div class="col-12 q-pl-lg q-pr-lg q-pb-lg">
      <span class="title text-black font-20">Categoría: </span> <span class="font-17 q-pl-sm" v-for="(category, idx) in filter.categories" :key="idx">{{category.name}}</span>
    </div>
    <div class="col-12 q-mt-lg" v-if="relatedProducts.length > 0">
      <div class="row full-width">
        <div class="col-12 q-pl-lg q-pr-lg">
          <span class="title text-black font-20">PRODUCTOS RELACIONADOS</span>
        </div>
        <div class="col-12 q-mt-md q-mb-md text-center text-black text-uppercase text-weight-bolder">
          <div class="bottom-color"></div>
        </div>
        <div class="col-12 q-mt-md q-mb-md text-center text-black text-uppercase text-weight-bolder">
          <div class="row full-width">
            <div class="col-6 q-pa-md" v-for="(product, idx) in relatedProducts" :key="idx" @click="filterProduct(product.id)">
              <div class="new-product-card">
                <div class="row full-width">
                  <div class="col-12">
                    <q-img width="100%" height="200px" :src="product.images[0].src" />
                  </div>
                  <div class="col-12 text-center q-mt-md" style="height:50px">
                    <span class="text-black ellipsis-2-lines title-card text-weight-bolder">
                      {{product.name}}
                    </span>
                  </div>
                  <div class="col-12 text-center">
                    <span class="text-warning ellipsis-2-lines title title-card text-weight-bolder">
                      {{$price(product.price)}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from 'src/components/main/filterProduct/carousel'
import name from 'src/components/main/filterProduct/name'
import price from 'src/components/main/filterProduct/price'

export default {
  // name: 'ComponentName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    filter () {
      return this.$store.getters['products/filter']
    },
    favorites () {
      return this.$store.getters['favorite/favorites']
    },
    codes () {
      return this.$store.getters['auth/code']
    },
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  components: {
    carousel,
    name,
    price
  },
  data () {
    return {
      quantity: 1,
      variations: [],
      talla: [],
      colors: [],
      sizeSelected: null,
      colourSelected: null,
      isInFavorite: false,
      favoriteId: 0,
      relatedProducts: [],
      porcent: 0
    }
  },
  methods: {
    removeQuantity () {
      if (this.quantity > 1) {
        this.quantity--
      }
    },
    addQuantity () {
      if (this.quantity >= 1) {
        this.quantity++
      }
    },
    getVariations () {
      this.variations = []
      if (this.filter.variations.length > 0) {
        for (var i = 0; i < this.filter.variations.length; i++) {
          this.$woocomerce.get('products/' + this.filter.id + '/variations/' + this.filter.variations[i])
            .then((response) => {
              this.porcent = (parseFloat(response.data.regular_price) - parseFloat(response.data.price)) / parseFloat(response.data.regular_price) * 100
              this.variations.push(response.data)
            })
            .catch((error) => {
              console.log(error.response.data)
            })
        }
      }
    },
    setAttributes () {
      this.talla = []
      this.colors = []
      for (var i = 0; i < this.filter.attributes.length; i++) {
        if (this.filter.attributes[i].name === 'Talla') {
          this.talla = this.filter.attributes[i].options
        }
        if (this.filter.attributes[i].name === 'Color') {
          this.colors = this.filter.attributes[i].options
        }
      }
    },
    addToCart () {
      var variation = null
      var product = {}
      if (this.talla.length > 0 && this.sizeSelected === null) {
        this.$SendNotify('negative', 'Por favor selecciona la talla del producto.', 'red-9')
        return false
      }
      if (this.colors.length > 0 && this.colourSelected === null) {
        this.$SendNotify('negative', 'Por favor selecciona el color del producto.', 'red-9')
        return false
      }

      if (this.talla.length > 0 && this.colors.length === 0) {
        variation = this.variations.filter(data => {
          if (data.attributes[0].name === 'Talla') {
            return data.attributes[0].option === this.sizeSelected
          }
        })
        if (variation.length === 0) {
          this.$SendNotify('negative', 'No existe producto con esta variedad.', 'red-9')
          return false
        }
        product.variation = variation[0]
      }

      if (this.colors.length > 0 && this.talla.length === 0) {
        variation = this.variations.filter(data => {
          if (data.attributes[0].name === 'Color') {
            return data.attributes[0].option === this.colourSelected
          }
        })
        if (variation.length === 0) {
          this.$SendNotify('negative', 'No existe producto con esta variedad.', 'red-9')
          return false
        }
        product.variation = variation[0]
      }

      if (this.talla.length > 0 && this.colors.length > 0) {
        variation = this.variations.filter(data => {
          if (data.attributes[0].name === 'Talla') {
            return data.attributes[0].option === this.sizeSelected && data.attributes[1].option === this.colourSelected
          }
          if (data.attributes[1].name === 'Talla') {
            return data.attributes[1].option === this.sizeSelected && data.attributes[0].option === this.colourSelected
          }
          if (data.attributes[0].name === 'Color') {
            return data.attributes[0].option === this.colourSelected && data.attributes[1].option === this.sizeSelected
          }
          if (data.attributes[1].name === 'Color') {
            return data.attributes[1].option === this.colourSelected && data.attributes[0].option === this.sizeSelected
          }
        })
        if (variation.length === 0) {
          this.$SendNotify('negative', 'No existe producto con esta variedad.', 'red-9')
          return false
        }
        product.variation = variation[0]
      }

      product.id = this.filter.id
      product.product = this.filter
      product.quantity = this.quantity
      this.$store.dispatch('order/addItemToCart', product)
        .then((resp) => {
          this.$SendNotify('positive', 'Se agrego el producto al carrito.', 'green-9')
        })
        .catch((err) => {
          console.log(err)
        })
    },
    addFavorite () {
      var data = {}
      data.favorite = this.filter.id
      data.cellphoneCode = this.codes
      this.$store.dispatch('favorite/addFavorite', data)
        .then((resp) => {
          this.isInFavorite = true
          this.getFavorite()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getFavorite () {
      var data = {}
      data.cellphoneCode = this.codes
      this.$store.dispatch('favorite/getUserFavorite', data)
        .then((resp) => {
          var filter = resp.data.success.data.filter(data => {
            return parseInt(data.product) === parseInt(this.filter.id)
          })
          if (filter.length > 0) {
            this.favoriteId = filter[0].id
            this.isInFavorite = true
          }
        })
        .catch((err) => {
          console.log(err)
        })
    },
    deleteFavorite () {
      var data = {}
      data.id = this.favoriteId
      this.$store.dispatch('favorite/deleteUserFavorite', data)
        .then((resp) => {
          this.isInFavorite = false
          this.getFavorite()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setRelatedProducts () {
      this.relatedProducts = []
      if (this.filter.related_ids.length > 1) {
        for (var i = 0; i < 2; i++) {
          var search = this.products.filter(data => {
            return data.id === this.filter.related_ids[i]
          })
          if (search.length > 0) {
            this.relatedProducts.push(search[0])
          }
        }
      }
    },
    filterProduct (idx) {
      var search = this.products.filter(data => {
        return data.id === idx
      })
      this.$store.dispatch('products/setProductsFilter', search[0])
        .then((resp) => {
          this.getVariations()
          this.setAttributes()
          this.getFavorite()
          this.setRelatedProducts()
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getVariations()
    this.setAttributes()
    this.getFavorite()
    this.setRelatedProducts()
  }
}
</script>
