<template>
  <div class="row">
    <div class="col-12">
      <carousel />
    </div>
    <div class="col-12">
      <news />
    </div>
    <div class="col-12">
      <banner />
    </div>
    <div class="col-12">
      <bestSell />
    </div>
    <div class="col-12">
      <information />
    </div>
  </div>
</template>

<script>
import carousel from 'src/components/main/index/carousel'
import news from 'src/components/main/index/newProduct'
import banner from 'src/components/main/index/banner'
import bestSell from 'src/components/main/index/bestSell'
import information from 'src/components/main/index/bannerInformation'

export default {
  // name: 'ComponentName',
  components: {
    carousel,
    news,
    banner,
    bestSell,
    information
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
