<template>
  <div class="row">
    <div class="col-12 q-mt-lg text-center text-black text-uppercase text-weight-bolder">
      <span class="new-prods text-h5 title">ofertas</span>
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12" v-if="products.length > 0">
      <div class="row full-width">
        <div class="col-6 q-pa-md" v-for="(product, idx) in products" :key="idx" @click="filterProduct(product.id)">
          <div class="new-product-card">
            <div class="row full-width">
              <div class="col-12">
                <q-img v-if="product.images.length > 0" width="100%" height="200px" :src="product.images[0].src" />
              </div>
              <div class="col-12 text-center q-mt-md" style="height:50px">
                <span class="text-black ellipsis-2-lines title-card text-weight-bolder">
                  {{product.name}}
                </span>
              </div>
              <div class="col-12 text-center">
                <span class="text-warning ellipsis-2-lines title title-card text-weight-bolder">
                  {{$price(product.price)}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

export default {
  // name: 'ComponentName',
  computed: {
  },
  components: {
  },
  data () {
    return {
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      products: []
    }
  },
  methods: {
    filterProduct (idx) {
      var search = this.products.filter(data => {
        return data.id === idx
      })
      if (search.length === 0) {
        return false
      }
      this.$store.dispatch('products/setProductsFilter', search[0])
        .then((resp) => {
          this.$pushRoute('/main/product/filter')
        })
        .catch((err) => {
          console.log(err)
        })
    },
    filterProductByCategory (category) {
      this.$q.loading.show({
        message: 'Filtrando ofertas...'
      })
      this.WooCommerce.get('products?category=110&stock_status=instock&per_page=100')
        .then((response) => {
          this.$q.loading.hide()
          this.products = response.data
        })
        .catch((error) => {
          console.log(error.response.data)
        })
    }
  },
  beforeMount () {
    this.filterProductByCategory()
  }
}
</script>
