<template>
  <div class="row">
    <div class="col-12">
      <headers />
    </div>
    <div class="col-12 text-center q-mt-lg">
      <span class="font-20 title text-uppercase">
        detalles de facturación
      </span>
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: 10px">
      <span class="font-17">Nombre</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled color="primary" size="10px" v-model="billing.name" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Apellido</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled color="primary" size="10px" v-model="billing.lastName" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Nombre de la empresa (opcional)</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled color="primary" size="10px" v-model="billing.company" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Pais / Region</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-select filled v-model="billing.country" :options="options" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Dirección</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled color="primary" label="Numero de la casa" size="10px" v-model="billing.homeNumber" />
    </div>
    <div class="col-12 text-center q-pa-md">
      <q-input filled color="primary" label="Apartamento, habitacion, etc" size="10px" v-model="billing.detailAddress" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Localidad / Ciudad</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled color="primary" label="Ciudad" size="10px" v-model="billing.city" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Region / Provincia</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled color="primary" label="Provincia" size="10px" v-model="billing.province" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Código postal (opcional)</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input filled type="number" color="primary" size="10px" v-model="billing.zip" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Teléfono</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input type="number" filled color="primary" size="10px" v-model="billing.phone" />
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: -20px">
      <span class="font-17">Dirección de correo electrónico</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input type="email" filled color="primary" size="10px" v-model="billing.email" />
    </div>
    <div class="col-12 text-center q-mt-sm">
      <span class="font-20 title text-uppercase">
        información adicional
      </span>
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: 10px">
      <span class="font-17">Nota del pedido (opcional)</span>
    </div>
    <div class="col-12 text-center q-pa-md" style="margin-top: -20px">
      <q-input label="Nota sobre tu pedido, por ejemplo, notas especiales para la entrega." v-model="billing.note" filled type="textarea"/>
    </div>
    <div class="col-12 text-left q-pa-md" style="margin-top: 10px">
      <div class="row bg-negative q-pa-sm">
        <div class="col-12 text-center">
          <span class="text-uppercase title font-20">
            TU PEDIDO
          </span>
        </div>
        <div class="col-12 q-mt-md">
          <q-card>
            <q-card-section>
              <div class="row">
                <div class="col-6 text-left">
                  <span class="title font-17 text-uppercase">
                    Producto
                  </span>
                </div>
                <div class="col-6 text-right">
                  <span class="title font-17 text-uppercase">
                    subtotal
                  </span>
                </div>
                <div class="col-12 q-mt-sm">
                  <q-separator />
                </div>
                <div class="col-12 q-mt-sm" v-for="(product, idx) in cart" :key="idx">
                  <div class="row">
                    <div class="col-6 text-left ellipsis-2-lines">
                      <span>{{product.product.name}} </span> <span class="title">x{{product.quantity}}</span>
                    </div>
                    <div class="col-6 text-right">
                      {{$price(product.product.price * product.quantity)}}
                    </div>
                  </div>
                </div>
                <div class="col-12 q-mt-sm">
                  <q-separator />
                </div>
                <div class="col-6 text-left q-mt-md">
                  <span class="title font-17 text-uppercase">
                    subtotal
                  </span>
                </div>
                <div class="col-6 text-right q-mt-md">
                  <span class="font-17 text-uppercase">
                    {{$price(order.total)}}
                  </span>
                </div>
                <div class="col-12 q-mt-sm">
                  <q-separator />
                </div>
                <div class="col-6 text-left q-mt-md">
                  <span class="title font-20 text-uppercase">
                    total
                  </span>
                </div>
                <div class="col-6 text-right q-mt-md">
                  <span class="font-17 text-uppercase text-primary">
                    {{$price(order.total)}}
                  </span>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-12 text-center q-mt-md">
          <q-btn :disabled="hasGenerated" @click="finishPayment" label="realizar el pedido" size="18px" color="primary" class="full-width" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

import headers from 'src/components/main/payment/header'

export default {
  // name: 'ComponentName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    order () {
      return this.$store.getters['order/order']
    },
    codes () {
      return this.$store.getters['auth/code']
    },
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  components: {
    headers
  },
  data () {
    return {
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      billing: {},
      options: [
        'Colombia'
      ],
      fullOrder: {},
      billingAndShipping: {},
      orderWoocomerceData: {},
      hasGenerated: false
    }
  },
  methods: {
    finishPayment () {
      if (!this.billing.name) {
        this.$SendNotify('negative', 'Por favor ingresa tus nombres.', 'red-9')
        return false
      }
      if (!this.billing.lastName) {
        this.$SendNotify('negative', 'Por favor ingresa tus apellidos.', 'red-9')
        return false
      }
      if (!this.billing.country) {
        this.$SendNotify('negative', 'Por favor ingresa tu pais.', 'red-9')
        return false
      }
      if (!this.billing.homeNumber) {
        this.$SendNotify('negative', 'Por favor ingresa tu numero de casa.', 'red-9')
        return false
      }
      if (!this.billing.detailAddress) {
        this.$SendNotify('negative', 'Por favor ingresa detalle de tu vivienda.', 'red-9')
        return false
      }
      if (!this.billing.city) {
        this.$SendNotify('negative', 'Por favor ingresa tu ciudad.', 'red-9')
        return false
      }
      if (!this.billing.province) {
        this.$SendNotify('negative', 'Por favor ingresa tu provincia.', 'red-9')
        return false
      }
      if (!this.billing.zip) {
        this.$SendNotify('negative', 'Por favor ingresa tu código postal.', 'red-9')
        return false
      }
      // set billing and shipping
      this.billingAndShipping.first_name = this.billing.name
      this.billingAndShipping.last_name = this.billing.lastName
      this.billingAndShipping.address_1 = this.billing.detailAddress
      this.billingAndShipping.address_2 = this.billing.homeNumber
      this.billingAndShipping.city = this.billing.city
      this.billingAndShipping.state = this.billing.province
      this.billingAndShipping.postcode = this.billing.zip
      if (this.billing.country === 'Colombia') {
        this.billingAndShipping.country = 'CO'
      }
      this.billingAndShipping.email = this.billing.email
      this.billingAndShipping.phone = this.billing.phone
      // set order data to woocomerce
      this.fullOrder.payment_method = 'payulatam'
      this.fullOrder.payment_method_title = 'Pagos en linea PayU Latinoamérica'
      this.fullOrder.billing = this.billingAndShipping
      this.fullOrder.shipping = this.billingAndShipping
      this.fullOrder.set_paid = false
      this.fullOrder.line_items = this.order.items
      this.fullOrder.shipping_lines = [{ method_id: 'flat_rate', method_title: 'Flat Rate', total: '0.00' }]
      // send order.
      this.$q.loading.show()
      this.WooCommerce.post('orders', this.fullOrder)
        .then((response) => {
          this.orderWoocomerceData = response.data
          if (this.order.coupon) {
            var newData = []
            var coupon = {}
            coupon.code = this.order.coupon.code
            newData.push(coupon)
            var update = {}
            update.coupon_lines = newData
            this.WooCommerce.put('orders/' + this.orderWoocomerceData.id, update)
              .then((response) => {
                this.orderWoocomerceData = []
                this.orderWoocomerceData = response.data
                this.$q.loading.hide()
                this.hasGenerated = true
                this.$SendNotify('positive', 'Se a generado tu pedido, procede a pagarlo.', 'green-9')
                this.$store.dispatch('order/setFinishOrder', this.orderWoocomerceData)
                  .then((resp) => {
                    this.$pushRoute('/main/pay/order')
                  })
                  .catch((err) => {
                    console.log(err)
                  })
              })
              .catch((error) => {
                this.$q.loading.hide()
                if (error.response.data) {
                  this.$SendNotify('negative', 'No se a podido aplicar tu cupón porque ' + error.response.data.message, 'red-9')
                  this.$store.dispatch('order/setFinishOrder', this.orderWoocomerceData)
                    .then((resp) => {
                      this.$pushRoute('/main/pay/order')
                    })
                    .catch((err) => {
                      console.log(err)
                    })
                }
              })
          } else {
            this.$q.loading.hide()
            this.hasGenerated = true
            this.$SendNotify('positive', 'Se a generado tu pedido, procede a pagarlo.', 'green-9')
            this.$store.dispatch('order/setFinishOrder', this.orderWoocomerceData)
              .then((resp) => {
                this.$pushRoute('/main/pay/order')
              })
              .catch((err) => {
                console.log(err)
              })
          }
        })
        .catch((error) => {
          this.$q.loading.hide()
          console.log(error.response.data)
        })
    }
  }
}
</script>
