<template>
  <div class="row">
    <div class="col-12 q-mt-lg q-pa-md">
      <div class="row full-width">
        <q-card>
          <q-card-section class="row full-width">
            <div class="col-12 text-center">
              <span class="title font-20">Resumen de la orden</span>
            </div>
            <div class="col-3 text-left q-mt-md">
              <span class="title font-17 text-uppercase q-mt-sm">
                Código
              </span>
            </div>
            <div class="col-9 text-right q-mt-md">
              <span class="text-uppercase text-primary">
                {{order.order_key}}
              </span>
            </div>
            <div class="col-3 text-left q-mt-md">
              <span class="title font-17 text-uppercase q-mt-sm">
                Estado
              </span>
            </div>
            <div class="col-9 text-right q-mt-md">
              <span class="text-uppercase text-primary">
                order.status
              </span>
            </div>
            <div class="col-12 q-mt-sm">
              <q-separator />
            </div>
            <div class="col-6 text-left q-mt-md">
              <span class="title font-17 text-uppercase">
                Subtotal
              </span>
            </div>
            <div v-if="order.discount_total" class="col-6 text-right q-mt-md">
              <span class="font-17 text-uppercase text-primary">
                {{$price(parseFloat(order.total) + parseFloat(order.discount_total))}}
              </span>
            </div>
            <div v-if="order.discount_total" class="col-6 text-left q-mt-md">
              <span class="title font-17 text-uppercase">
                Descuento
              </span>
            </div>
            <div class="col-6 text-right q-mt-md">
              <span class="font-17 text-uppercase text-primary">
                - {{$price(parseFloat(order.discount_total))}}
              </span>
            </div>
            <div class="col-6 text-left q-mt-md">
              <span class="title font-17 text-uppercase">
                total
              </span>
            </div>
            <div class="col-6 text-right q-mt-md">
              <span class="font-17 text-uppercase text-primary">
                {{$price(order.total)}}
              </span>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div class="col-12 q-pa-md q-mt-sm bg-primary text-uppercase">
      <center>
        <span class="text-white font-20">Medios de pago</span><br>
        <img class="q-mt-sm" src="https://multimedia-epayco.s3.amazonaws.com/dashboard/login/img/logoepayco.svg">
      </center>
    </div>
    <div class="col-12 q-pa-md q-mt-sm">
      <div class="row">
        <div class="col-12">
          <q-input type="number" filled v-model="dni" label="Cédula de identidad">
            <template v-slot:prepend>
              <q-icon name="recent_actors" />
            </template>
          </q-input>
        </div>
        <div class="col-12 q-mt-md">
          <q-input filled v-model="card.number" label="Número de tarjeta" mask="################">
            <template v-slot:prepend>
              <q-icon name="credit_card" />
            </template>
          </q-input>
        </div>
        <div class="col-3 q-mt-md">
          <q-input filled v-model="card.year" label="YYYY" mask="####">
          </q-input>
        </div>
        <div class="col-3 q-mt-md q-pl-sm">
          <q-input filled v-model="card.month" label="MM" mask="##">
          </q-input>
        </div>
        <div class="col-6 q-mt-md q-pl-sm">
          <q-input type="number" filled v-model="card.cvv" label="CVV">
          </q-input>
        </div>
        <div class="col-12 q-mt-md">
          <q-btn :disabled="!card.cvv" @click="payOrder" label="Pagar pedido" color="primary" size="19px" class="full-width" />
        </div>
      </div>
    </div>
    <q-dialog v-if="pay.data" v-model="finishPay" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 340px">
        <q-card-section class="bg-primary ">
          <div class="text-h6 text-white text-center">Resumen de pago</div>
        </q-card-section>
        <q-card-section class="q-pt-md row">
            <div class="col-12 text-center">
              <span class="title font-20">Tu pago a sido procesado</span>
            </div>
            <div class="col-3 text-left q-mt-md">
              <span class="title font-17 text-uppercase q-mt-sm">
                Recibo
              </span>
            </div>
            <div class="col-9 text-right q-mt-md">
              {{pay.data.recibo}}
            </div>
            <div class="col-3 text-left q-mt-md">
              <span class="title font-17 text-uppercase">
                Orden
              </span>
            </div>
            <div class="col-9 text-right q-mt-md">
              {{order.id}}
            </div>
            <div class="col-3 text-left q-mt-md">
              <span class="title font-17 text-uppercase q-mt-sm">
                Estado
              </span>
            </div>
            <div class="col-9 text-right q-mt-md">
              <span class="text-uppercase text-primary">
                {{pay.data.estado}}
              </span>
            </div>
            <div class="col-12 q-mt-sm">
              <q-separator />
            </div>
            <div class="col-6 text-left q-mt-md">
              <span class="title font-17 text-uppercase">
                total
              </span>
            </div>
            <div class="col-6 text-right q-mt-md">
              <span class="font-17 text-uppercase text-primary">
                {{$price(pay.data.valor)}}
              </span>
            </div>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-primary">
          <q-btn v-if="pay.data.estado != 'Aceptada'" flat color="primary" label="Reintentar" v-close-popup />
          <q-btn color="primary" label="Continuar" @click="$pushRoute('/main')" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

export default {
  // name: 'ComponentName',
  computed: {
    favorites () {
      return this.$store.getters['favorite/favorites']
    },
    code () {
      return this.$store.getters['auth/code']
    },
    order () {
      return this.$store.getters['order/finishOrder']
    }
  },
  components: {
  },
  data () {
    return {
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      card: {},
      token: null,
      custommer: {},
      dni: '',
      pay: {},
      finishPay: false
    }
  },
  methods: {
    payOrder () {
      this.$q.loading.show()
      this.$store.dispatch('order/generateToken', this.card)
        .then((resp) => {
          this.token = resp.data.token.id
          this.createCustomer()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    createCustomer () {
      var data = {}
      data.token = this.token
      data.billing = this.order.billing
      this.$store.dispatch('order/customer', data)
        .then((resp) => {
          this.customer = resp.data.customer.data.customerId
          this.doPayment()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    doPayment () {
      var data = {}
      data.token = this.token
      data.customer = this.customer
      data.dni = this.dni
      data.reference = this.order.order_key
      data.total = this.order.total
      data.billing = this.order.billing
      data.billing.last_name = data.billing.last_name + ' - Cédula: ' + this.dni
      data.codeCellphone = this.code
      data.idd = this.order.id
      this.$store.dispatch('order/payment', data)
        .then((resp) => {
          if (resp.data.success) {
            this.pay = resp.data.success
            var data = {}
            if (resp.data.success.data.estado === 'Aceptada') {
              data.status = 'completed'
              this.updateOrder(data)
              this.$SendNotify('positive', 'Tu pago a sido procesado correctamente.', 'green-9')
              this.card = {}
              this.dni = ''
            }
            if (resp.data.success.data.estado === 'Rechazada') {
              data.status = 'failed'
              this.updateOrder(data)
              this.$SendNotify('negative', resp.data.success.data.respuesta, 'red-9')
            }
            if (resp.data.success.data.estado === 'Fallida') {
              data.status = 'failed'
              this.updateOrder(data)
              this.$SendNotify('negative', resp.data.success.data.respuesta, 'red-9')
            }
            if (resp.data.success.data.estado === 'Pendiente') {
              data.status = 'pending'
              this.updateOrder(data)
              this.$SendNotify('negative', resp.data.success.data.respuesta, 'red-9')
              this.card = {}
            }
            this.$q.loading.hide()
            this.finishPay = true
          }
        })
        .catch((err) => {
          this.$q.loading.hide()
          this.$SendNotify('negative', err[0].message[0].errorMessage, 'red-9')
        })
    },
    updateOrder (data) {
      this.WooCommerce.put('orders/' + this.order.id, data)
        .then((response) => {
        })
        .catch((error) => {
          this.$q.loading.hide()
          console.log(error)
        })
    }
  },
  beforeMount () {
    this.$q.loading.hide()
  }
}
</script>
