<template>
  <div class="row">
    <div class="col-12">
      <headers />
    </div>
    <div class="col-12 q-pa-lg">
      <div class="row full-width">
        <div class="col-7" style="font-size: 15px">
          <span @click="filterShow = !filterShow" class="text-black title"><q-icon name="menu" size="20px" /> Mostrar opciones</span>
        </div>
        <div class="col-5 text-right" style="font-size: 15px">
          <span @click="resetFilter" class="text-black title">Reiniciar <q-icon name="remove" size="20px" /></span>
        </div>
      </div>
    </div>
    <div v-if="filterShow" class="col-12 q-pa-md" style="margin-top: -20px">
      <div class="row full-width bg-negative q-pa-md">
        <div class="col-12">
          <span class="title font-20 text-uppercase">filtrar por precio</span>
        </div>
        <div class="col-12">
          <div class="bottom-color" style="margin:15px 0px"></div>
        </div>
        <div class="col-12">
          <q-range v-model="label" :min="1" :max="3000000" label/>
          <p><span class="font-20">Precio: </span> <span class="title font-20">{{$price(label.min)}} - {{$price(label.max)}}</span></p>
        </div>
        <div class="col-12">
          <q-btn label="filtrar" color="primary" @click="filterByPriceRange" />
        </div>
      </div>
    </div>
    <div class="col-12 q-pa-lg" style="margin-top: -20px">
     <q-scroll-area horizontal style="height: 100px; width: 100%;">
      <div class="row no-wrap">
        <div v-for="(category, idx) in categories" class="font-15 text-dark category-div" v-bind:class="{ 'q-ml-md': idx > 0 }" :key="idx" style="margin-top:0px" @click="filterProductByCategory(category)">
          <div class="row">
            <div class="col-12">
              <center>
                <q-avatar rounded size="60px" class="shadow-2" style="border-radius: 50px">
                  <q-icon v-if="category.id === 71" name="img:images/accesorios-ka.png" />
                  <q-icon v-if="category.id === 60" name="img:images/blusas-ka.png" />
                  <q-icon v-if="category.id === 82" name="img:images/buso-ka.png" />
                  <q-icon v-if="category.id === 65" name="img:images/chaquetas-ka.png" />
                  <q-icon v-if="category.id === 49" name="img:images/deportivos-ka.png" />
                  <q-icon v-if="category.id === 72" name="img:images/faldas-ka.png" />
                  <q-icon v-if="category.id === 110" name="local_offer" />
                  <q-icon v-if="category.id === 70" name="img:images/pantalones-ka.png" />
                  <q-icon v-if="category.id === 69" name="img:images/sets-ka.png" />
                  <q-icon v-if="category.id === 42" name="img:images/vestidos-ka.png" />
                  <q-icon v-if="category.id === 68" name="img:images/zapatos-ka.png" />
                  <q-icon v-if="category.id === 94" name="card_giftcard" />
                </q-avatar>
              </center>
            </div>
            <div class="col-12 text-center title ellipsis q-pl-sm q-pr-sm">
              {{category.name}}
            </div>
          </div>
        </div>
      </div>
    </q-scroll-area>
    </div>
    <div class="col-12" style="margin-top: -30px" v-if="listProduct.length > 0">
      <div class="row full-width">
        <div class="col-6 q-pa-md" v-for="(product, idx) in listProduct" :key="idx" @click="filterProduct(product.id)">
          <div class="new-product-card">
            <div class="row full-width">
              <div class="col-12">
                <q-img v-if="product.images.length > 0" width="100%" height="200px" :src="product.images[0].src" />
              </div>
              <div class="col-12 text-center q-mt-md" style="height:50px">
                <span class="text-black ellipsis-2-lines title-card text-weight-bolder">
                  {{product.name}}
                </span>
              </div>
              <div class="col-12 text-center">
                <span class="text-warning text-primary ellipsis-2-lines title text-weight-bolder">
                  <span v-html="product.price_html"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" v-if="!isFilter && showSpinner && listProduct.length > 0">
      <center>
        <q-spinner
          color="primary"
          size="3em"
        />
      </center>
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

import headers from 'src/components/main/product/header'

export default {
  // name: 'ComponentName',
  components: {
    headers
  },
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    products2 () {
      return this.$store.getters['products/products2']
    }
  },
  data () {
    return {
      listProduct: [],
      filterShow: false,
      min: 0,
      max: 20,
      showSpinner: true,
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      categories: [],
      isFilter: false,
      label: {
        min: 10000,
        max: 20000
      },
      page: 1,
      allowToPush: true,
      allProducts: []
    }
  },
  methods: {
    filterProduct (idx) {
      var search = this.allProducts.filter(data => {
        return data.id === idx
      })
      if (search.length === 0) {
        return false
      }
      this.$store.dispatch('products/setProductsFilter', search[0])
        .then((resp) => {
          this.$pushRoute('/main/product/filter')
        })
        .catch((err) => {
          console.log(err)
        })
    },
    pushOtherItem () {
      if (!this.isFilter) {
        this.showSpinner = true
        this.getProductsByPage()
      }
    },
    scroll () {
      var d = document.documentElement
      var offset = d.scrollTop + window.innerHeight
      var height = d.offsetHeight
      if (offset + 2 >= height) {
        if (!this.isFilter) {
          this.pushOtherItem()
        }
      }
    },
    filterProductByCategory (category) {
      this.$q.loading.show({
        message: 'Filtrando productos de la categoria ' + category.name + '...'
      })
      this.WooCommerce.get('products?category=' + category.id + '&stock_status=instock&per_page=100')
        .then((response) => {
          this.$store.dispatch('products/setProducts', response.data)
            .then((resp) => {
              this.listProduct = response.data
              this.allProducts = response.data
              this.$q.loading.hide()
            })
            .catch((err) => {
              console.log(err)
            })
        })
        .catch((error) => {
          console.log(error.response.data)
        })
      this.isFilter = true
      this.filterShow = false
    },
    filterByPriceRange () {
      var filter = this.allProducts.filter(data => {
        return data.price >= this.label.min && data.price <= this.label.max
      })
      this.isFilter = true
      this.showSpinner = false
      this.listProduct = filter
    },
    resetFilter () {
      this.page = 1
      this.listProduct = []
      this.getProductsByPage()
      this.isFilter = false
      this.filterShow = false
      this.label.min = 10000
      this.label.max = 20000
    },
    getProductsByPage () {
      if (this.page === 1) {
        this.$q.loading.show({
          message: 'Cargando productos de la tienda...'
        })
      }
      if (this.allowToPush === true) {
        this.allowToPush = false
        this.WooCommerce.get('products?stock_status=instock&page=' + this.page + '&per_page=24&order=desc')
          .then((response) => {
            for (let i = 0; i < response.data.length; i++) {
              this.listProduct.push(response.data[i])
              this.allProducts.push(response.data[i])
            }
            this.allowToPush = true
            this.page++
            this.$q.loading.hide()
            this.showSpinner = false
          })
          .catch((error) => {
            console.log(error.response.data)
          })
      }
    }
  },
  beforeMount () {
    if (this.products2.length < 1) {
      this.getProductsByPage()
    } else {
      this.listProduct = this.products2
      this.allProducts = this.products2
      this.isFilter = true
    }
    this.WooCommerce.get('products/categories')
      .then((response) => {
        this.categories = response.data
      })
      .catch((error) => {
        console.log(error.response.data)
      })
  },
  created () {
    window.addEventListener('scroll', this.scroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.scroll)
  }
}
</script>
