<template>
  <div class="row">
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      Cómo comprar
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12">
      <listHowToBuy :list="howToBuy" />
    </div>
  </div>
</template>

<script>
import listHowToBuy from './components/list'

export default {
  // name: 'ComponentName',
  components: {
    listHowToBuy
  },
  data () {
    return {
      howToBuy: [
        {
          id: 1,
          icon: 'step-1.png',
          label: 'Selecciona el producto',
          description: 'Selecciona el producto por el cual estas interesado.'
        },
        {
          id: 2,
          icon: 'step-2.png',
          label: 'Añade al carrito',
          description: 'Una vez encontrado lo que buscabas, agrega al carrito de compras.'
        },
        {
          id: 3,
          icon: 'step-3.png',
          label: 'Checkout',
          description: 'Revisa que tus productos, información y datos de domicilio se encuentren en orden.'
        },
        {
          id: 4,
          icon: 'step-4.png',
          label: 'Proceso de pago',
          description: 'Selecciona el metodo de pago que más se acomode a tus requerimientos.'
        },
        {
          id: 5,
          icon: 'step-5.png',
          label: 'Confirmación',
          description: 'Revisa tu número de orden o pedido en tu correo electrónico.'
        },
        {
          id: 6,
          icon: 'step-6.png',
          label: 'Envío',
          description: '¡Y listo!. Espera tu pedido en el menor tiempo posible.'
        }
      ]
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
