<template>
  <div class="row">
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      POLÍTICAS DE PRIVACIDAD
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      KATIKAS informa seguidamente de su política de privacidad aplicada a los datos personales.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      ¿Quién es el responsable del tratamiento de tus datos?
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      - Identidad: KATIKAS TIENDA <br>
      - Dirección: Calle 33 AA 80 C 47, Medellín <br>
      - Teléfono: 318 2840906 <br>
      - Correo electrónico: info@katikastienda.com <br>
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      ¿Qué tipo de datos tratamos?
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      Dependiendo de los productos, servicios o funcionalidades de los que quiera disfrutar en cada momento, necesitaremos tratar unos datos u otros. En general dichos datos, serán, según el caso, los siguientes:
      Datos identificativos (por ejemplo: tu nombre, apellido, idioma, país desde el que interactúas con nosotros, datos de contacto, etc.).
      Información económica y transaccional (por ejemplo: tus datos de tarjeta de crédito, información acerca de tus compras, pedidos, devoluciones, etc).
      Datos de conexión, geolocalización y navegación (en el caso de que interactúes con nosotros desde el móvil, por ejemplo)
      Datos sobre tus gustos y preferencias.
      Recuerda que, cuando te pidamos que rellenes tus datos personales para darte acceso a alguna funcionalidad o servicio de la web, marcaremos algunos campos como obligatorios, puesto que son datos que necesitamos para poder prestarte el servicio o darte acceso a la funcionalidad en cuestión.
      Por favor, ten en cuenta que, si decides no facilitarnos esos datos, es posible que no puedas completar tu registro como usuario o que no puedas disfrutar de esos servicios o funcionalidades.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      ¿Durante cuánto tiempo conservaremos tus datos?
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      El plazo de conservación de tus datos dependerá de las finalidades para las que los tratemos, según lo explicado a continuación:
      Gestionar tu registro como usuario de la web
      Trataremos tus datos durante el tiempo en que decidas darte de baja como usuario registrado.
      Desarrollo, cumplimiento y ejecución del contrato de compraventa o de servicios
      Trataremos tus datos durante el tiempo necesario para gestionar la compra de los productos o servicios que hayas adquirido y posteriormente un año para evitar posibles errores o malentendidos. En algunas ocasiones, únicamente trataremos algunos datos hasta el momento en que decidas, como es el caso de los datos de pago (tarjeta de crédito) que nos has solicitado almacenar para posibles futuras compras.
      Atención al Cliente
      Trataremos tus datos durante el tiempo que sea necesario para atender tu solicitud o petición.
      Marketing
      Trataremos tus datos hasta que te des de baja o canceles tu suscripción a la newsletter. Si participas en acciones promocionales conservaremos tus datos por un plazo de seis (6) meses desde que finalice la acción.
      Análisis de usabilidad y de calidad
      Trataremos tus datos puntualmente durante el tiempo en el que procedamos a realizar una acción o encuesta de calidad concreta o hasta que anonimicemos tus datos de navegación.
      Solicitud de empleo
      Conservaremos tus datos durante 5 años contados desde la fecha de la última actualización. Transcurrido dicho periodo, sin que hayan sido actualizados, los datos serán suprimidos, salvo que nos indiques lo contrario.
      Independientemente de tratemos tus datos durante el tiempo estrictamente necesario para cumplir con la finalidad correspondiente, los conservaremos posteriormente debidamente guardados y protegidos durante el tiempo en que pudieran surgir responsabilidades derivadas del tratamiento, en cumplimiento con la normativa vigente en cada momento. Una vez prescriban las posibles acciones en cada caso, procederemos a la supresión de los datos personales.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      ¿Compartiremos tus datos con terceros?
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      Para cumplir las finalidades indicadas en la presente Política de Privacidad, es necesario que demos acceso a tus datos personales a terceras partes que nos presten apoyo en los servicios que te ofrecemos y que detallamos a continuación:
      Entidades financieras.
      Proveedores de servicios tecnológicos.
      Proveedores y colaboradores de servicios de logística, transporte y entrega.
      Proveedores de servicios relacionados con atención al cliente.
      Proveedores y colaboradores de servicios relacionados con marketing y publicidad.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      Modificaciones de esta política
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      Es posible que modifiquemos la información contenida en esta Política de Privacidad cuando lo estimemos conveniente. En caso de que lo hagamos, te lo notificaremos por distintas vías a través de la web (por ejemplo, a través de un banner, un pop-up o una notificación push), o incluso te lo comunicaremos a tu dirección de correo electrónico cuando el cambio en cuestión sea significativo para con tu privacidad, de manera que puedas revisar los cambios, valorarlos y, en su caso, oponerte o darte de baja en algún servicio o funcionalidad. En cualquier caso, te sugerimos que revises esta Política de Privacidad de vez en cuando por si hubiera cambios menores o introducimos alguna mejora interactiva, aprovechando que siempre la encontrarás como punto permanente de información en nuestra web.
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
