<template>
  <div class="row">
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      Términos  y condiciones
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      <span class="text-bold title text-weight-bolder">KATIKAS</span> es la responsable del tratamiento de datos para este sitio Web, según la ley de protección de datos personales Para todas las aplicaciones (móviles) que se refieren a esta Política de Privacidad, KATIKAS es el responsable del tratamiento de los datos. KATIKAS se compromete a asumir toda la responsabilidad de la protección y la seguridad de los datos personales de usted. Utilizaremos la información que hemos recopilado sobre usted para proporcionarle una agradable experiencia de compra, para comunicarle ofertas sobre nuestros productos y servicios. Se usaran sus datos personales para fines relacionados con su pedido; por ejemplo, para notificarle la situación de su pedido o entrega. Podremos usar sus datos con la finalidad de evaluar su solvencia, para lo cual podremos recurrir a terceros. Si usted nos ha proporcionado sus datos personales en relación con una promoción, evento, aplicación (móvil), etc., podremos enviarle emails y otros mensajes relacionados con el servicio que ha solicitado. Si usted se pone en contacto con atención al cliente, usaremos sus datos personales (incluido su historial de contacto) para que atención al cliente pueda procesar su petición y prestarse el mejor servicio posible.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      La protección de sus datos es fundamental para nosotros.
      Conforme a la Ley 1581 de 2012 y al Decreto 1377 de 2013, KATIKAS,  en adelante “KATIKAS”, considerada como Responsable y/o Encargada del tratamiento de datos personales que almacena y recolecta de sus clientes en desarrollo de sus actividades comerciales, ventas de sus productos en su red de almacenes, en los canales en línea o eventos promocionales, entre otros, requiere obtener su autorización para continuar con el tratamiento de sus datos personales conforme a la política de privacidad para el tratamiento de sus datos personales las cuales están disponibles en www.katikastienda.com
      Esta información suministrada podrá ser procesada, recolectada, almacenada, usada, circulada, suprimida, compartida, actualizada, transmitida y/o transferida a terceros países de acuerdo y conforme a nuestras políticas de tratamiento y con el fin de continuar desarrollando nuestras actividades comerciales y promocionales para mantenerlo informado acerca de novedades en nuestros productos, promociones, ofertas y en general, acerca de cualquier aspecto relacionado con nuestra actividad comercial.
      KATIKAS, en los términos dispuestos por el artículo 10 del decreto 1377 de 2013 queda autorizada de manera expresa e inequívoca para mantener y manejar su información, a no ser que usted manifieste lo contrario de manera directa, expresa o inequívoca, por escrito, a la dirección de correo electrónico dispuesta para tal efecto info@katikastienda.com o llamando a la línea de atención. 318 2840906 dentro de los treinta (30) días hábiles contados a partir de la recepción de la presente comunicación.
      Para conocer nuestras políticas de tratamiento y el modo en que puede ejercer sus derechos de conocer, actualizar, rectificar y suprimir por favor consulte nuestra página web o escribanos al siguiente correo electrónico info@katikastienda.com
      Si usted ha dado su consentimiento para recibir boletines de noticias, se los enviaremos. Si usted nos ha dado sus datos personales durante una venta de un producto o servicio, le informaremos sobre productos o servicios similares. También podremos contactarle para pedirle su opinión después de una venta de un producto o servicio. Si se interrumpe un proceso de venta, le enviaremos un email recordatorio.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      FORMAS DE ENVÍO
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      Cada método de envío tiene restricciones y costes propios, los cuales serán aplicados en su pedido.
      Cuando realice su registro, se te solicitará que indiques  la dirección de facturación y envió  Antes de finalizar tu pedido, los costes totales de envío se calcularán automáticamente.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      PLAZO DE ENTREGA
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      ENTREGA HABITUAL: ENVÍOS ESTÁNDAR: DE 10 A 12 DÍAS HÁBILES*.
      Su pedido deberá llegar en un plazo de diez días hábiles (ciudades principales), a contar a partir de la fecha de pedido.
      *La entrega se realiza únicamente en días hábiles.
      Durante el periodo de descuentos los pedidos pueden tardar un poco más en ser procesados.
      Para los pedidos realizados el día anterior a un festivo, el tiempo de entrega se ampliará en 1 o 2 jornadas hábiles extra.
      <br><br> NORMAS Y RESTRICCIONES DE ENVÍO
      Los pedidos se envían solo en días hábiles.
      Los días hábiles son de lunes a viernes, excluyendo sábados ,domingos y los festivos nacionales de Colombia.
      Todas las entregas irán acompañadas con su respectiva factura.
      No reembolsamos los costes de envío en el caso de devolución de artículos.
      Para cualquier consulta, llama a nuestro servicio de atención al cliente al número 318 2840906.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      ENTREGA
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      KATIKAS realizará la entrega en la dirección por usted dentro del territorio colombiano. KATIKAS sólo puede realizar la entrega en una dirección de entrega que sea una dirección del domicilio o de oficina. Las entregas se realizarán en días hábiles, excepto los días festivos. Todas las entregas irán acompañadas de su respectiva factura.
      Si usted pide que KATIKAS entregue el pedido en varios envíos, KATIKAS podrá cobrarle costes extra de entrega. Cada uno de los envíos individuales constituirá un contrato independiente. Si KATIKAS se retrasa en la entrega de un envío o uno de los envíos no es correcto, esto no le dará derecho a cancelar ningún otro envío.
      Los periodos de entrega son indicativos y, por consiguiente, no se consideran fechas límite estrictas. El mero hecho de haber excedido un periodo de entrega no le dará ningún derecho de compensación. Para ello, deberá enviarse a KATIKAS una notificación de incumplimiento.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      POLÍTICA DE CAMBIOS
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      www.katikastienda.com no admite cambios de productos. Si deseas cambiar un producto, deberás devolver tu compra solicitando un reembolso y realizar un nuevo pedido. Solo es posible recibir el reembolso de una devolución si esta se realiza según nuestra política de devoluciones. El reembolso de la compra será mediante depósito del importe a su cuenta bancaria.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      PRODUCTOS DAÑADOS O DEFECTUOSOS
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      Para KATIKAS, la calidad es fundamental. Comprobamos exhaustivamente todos nuestros productos en condiciones reales para asegurarnos de que son completamente capaces de soportar los usos para los que han sido diseñados. Es extremadamente raro que nuestros productos estén dañados o defectuosos.
      El departamento de control de calidad de KATIKAS inspeccionará los productos devueltos; si el daño es consecuencia de un defecto de fabricación o bien si el producto no cumple con las especificaciones de fábrica se reembolsará el coste del producto. Nos comprometemos a reembolsar la totalidad del coste de los productos defectuosos.
      Si el problema se debe a motivos contrarios a la calidad del material o al proceso de montaje, te devolveremos el producto original. No reembolsamos productos:
      Si se han dañado por un mal uso o negligencia (exposición a productos químicos, sustancias cáusticas, fuente de llama abierta, mucho calor, objetos afilados, etc.)
      Si se han dañado por un uso indebido o por actividades distintas al fin previsto.
      La vida útil de cualquier producto KATIKAS depende del uso particular que se haga del mismo, de las condiciones de uso y de los patrones de desgaste característicos del usuario. No se sustituirán los productos KATIKAS dañados por el uso y el desgaste normales o que hayan excedido la vida razonable del producto.
      Nuestro servicio de atención al cliente está disponible para ayudarte con tu proceso de devolución. No dudes en ponerte en contacto con nosotros para realizar cualquier consulta o comentario. Envíanos un e-mail a: info@katikastienda.com o celular: 318 2840906.
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder title text-h6">
      INSTRUCCIONES DE DEVOLUCIÓN DE PRODUCTOS
    </div>
    <div class="col-12 q-mt-md text-center text-black text-uppercase text-weight-bolder">
      <div class="bottom-color"></div>
    </div>
    <div class="col-12 q-pa-md text-justify">
      Para devolver un producto, sigue estas instrucciones: <br><br>
      Comunícate con nuestro equipo de atención al cliente para comenzar el trámite de tu devolución. Ellos te indicarán si tu solicitud es autorizada de acuerdo a nuestra política de devoluciones.
      Si tu solicitud es autorizada, programaremos una recogida del producto a la dirección que nos indiques. Asegúrate de que empaquetas los artículos en su embalaje original y de que todos los artículos de ropa o calzado llevan las etiquetas originales.
      Antes de llamar a nuestra línea de atención al cliente, asegúrate de que tienes la siguiente información a la mano: <br><br>
      Número de pedido.
      Fecha del pedido.
      Dirección de recogida.
      Número de teléfono.
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
