<template>
  <q-layout view="hHh Lpr fFf"> <!-- Be sure to play with the Layout demo on docs -->
    <!-- (Optional) The Header -->
    <q-header>
      <q-toolbar style="height: 70px" size="70px" class="">
        <q-img @click="$pushRoute('/main')" src="images/logo.png" width="200px" />
        <q-toolbar-title>
          <span class="text-white text-weight-bolder">
          </span>
        </q-toolbar-title>
        <q-btn flat round color="black" dense icon="menu" @click="leftDrawer = !leftDrawer" />
      </q-toolbar>
    </q-header>
    <q-drawer v-model="leftDrawer" side="left" content-class="bg-info">
      <!-- QScrollArea is optional -->
      <div class="row search-row">
        <div class="col-12 q-pa-lg">
          <search :items="products" />
        </div>
      </div>
      <q-scroll-area class="fit q-pa-sm">
        <!-- Content here -->
        <q-list dense padding class="rounded-borders">
          <q-item @click="$pushRoute('/main')" clickable v-ripple>
            <q-item-section class="q-pa-md font-20">
              INICIO
            </q-item-section>
          </q-item>
          <q-separator color="primary" />
          <q-item clickable v-ripple @click="$pushRoute('/main/offerts')">
            <q-item-section class="q-pa-md font-20">
              OFERTAS
            </q-item-section>
          </q-item>
          <q-separator color="primary" />
          <q-expansion-item class="q-pa-sm q-ml-sm font-20" label="PRODUCTOS">
            <q-card class="rounded-borders" v-if="categories.length > 0">
              <q-card-section>
                <q-list>
                  <q-item @click="clearProducts" class="q-pa-none" clickable v-ripple>
                    <q-item-section avatar class="q-pa-none">
                      <q-avatar rounded size="50px">
                        <q-icon name="category" />
                      </q-avatar>
                    </q-item-section>
                    <q-item-section style="font-size: 14px">Todos</q-item-section>
                  </q-item>
                  <q-item v-for="(category, idx) in categories" :key="idx" @click="filterProductByCategory(category)" class="q-pa-none" clickable v-ripple v-show="category.id !== 15">
                    <q-item-section avatar class="q-pa-none">
                      <q-avatar rounded size="50px">
                        <q-icon v-if="category.id === 71" name="img:images/accesorios-ka.png" />
                        <q-icon v-if="category.id === 60" name="img:images/blusas-ka.png" />
                        <q-icon v-if="category.id === 82" name="img:images/buso-ka.png" />
                        <q-icon v-if="category.id === 65" name="img:images/chaquetas-ka.png" />
                        <q-icon v-if="category.id === 49" name="img:images/deportivos-ka.png" />
                        <q-icon v-if="category.id === 72" name="img:images/faldas-ka.png" />
                        <q-icon v-if="category.id === 110" name="local_offer" />
                        <q-icon v-if="category.id === 70" name="img:images/pantalones-ka.png" />
                        <q-icon v-if="category.id === 69" name="img:images/sets-ka.png" />
                        <q-icon v-if="category.id === 42" name="img:images/vestidos-ka.png" />
                        <q-icon v-if="category.id === 68" name="img:images/zapatos-ka.png" />
                        <q-icon v-if="category.id === 94" name="card_giftcard" />
                      </q-avatar>
                    </q-item-section>
                    <q-item-section style="font-size: 14px">{{category.name}}</q-item-section>
                  </q-item>
                </q-list>
              </q-card-section>
            </q-card>
          </q-expansion-item>
          <q-separator color="primary" />
          <q-item clickable v-ripple @click="$pushRoute('/main/comprar')">
            <q-item-section class="q-pa-md font-20">
              CÓMO COMPRAR
            </q-item-section>
          </q-item>
          <q-separator color="primary" />
          <q-item @click="$pushRoute('/main/contact')" clickable v-ripple>
            <q-item-section class="q-pa-md font-20">
              CONTACTO
            </q-item-section>
          </q-item>
          <q-separator color="primary" />
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-drawer side="right" v-model="rightDrawer" show-if-above bordered content-class="bg-white">
      <q-scroll-area class="fit">
        <cartList />
      </q-scroll-area>
    </q-drawer>
    <q-footer elevated bordered class="bg-primary text-white">
      <q-tabs no-caps active-color="black" class="text-black" v-model="tab">
        <q-tab @click="$pushRoute('/main')" name="home" icon="img:images/inicio@2x.png" label="Inicio" />
        <q-tab @click="$pushRoute('/main/product')" name="search" icon="store" label="Tienda" />
        <q-tab @click="$pushRoute('/main/favorite')" name="favorite" icon="img:images/corazon@2x.png" label="Favoritos" />
        <q-tab @click="toggleDrawerRight" name="cart" icon="img:images/carrito-8.png" label="Carrito" />
      </q-tabs>
    </q-footer>
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

import search from 'src/components/main/layout/search'
import cartList from 'src/components/main/cart/cartList'

export default {
  // name: 'LayoutName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    rightDrawer () {
      return this.$store.getters['auth/drawerRight']
    }
  },
  components: {
    search,
    cartList
  },
  data () {
    return {
      leftDrawer: false,
      tab: 'home',
      search: '',
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      categories: []
    }
  },
  methods: {
    toggleDrawerRight () {
      this.$store.dispatch('auth/toggleDrawer')
    },
    filterProductByCategory (category) {
      this.$q.loading.show({
        message: 'Filtrando productos de la categoria ' + category.name + '...'
      })
      this.WooCommerce.get('products?category=' + category.id + '&stock_status=instock&per_page=100')
        .then((response) => {
          this.$pushRoute('/main/favorite')
          this.$store.dispatch('products/setProducts2', response.data)
            .then((resp) => {
              this.$q.loading.hide()
              setTimeout(() => {
                this.$pushRoute('/main/product')
              }, 400)
            })
            .catch((err) => {
              console.log(err)
            })
        })
        .catch((error) => {
          console.log(error.response.data)
        })
      this.isFilter = true
      this.filterShow = false
    },
    clearProducts () {
      this.$store.dispatch('products/setProducts', [])
        .then((resp) => {
          if (this.$route.path === '/main/product') {
            this.$pushRoute('/main/comprar')
          }
          setTimeout(() => {
            this.$pushRoute('/main/product')
          }, 400)
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.WooCommerce.get('products/categories?per_page=30')
      .then((response) => {
        this.categories = response.data
      })
      .catch((error) => {
        console.log(error.response.data)
      })
  }
}
</script>
