.bg-index
  min-width: 100% !important
  width: 200px !important
  height: 200px !important
  position: absolute   
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)     
  z-index: 0
  min-height: 100vh
  background-size: cover

.custom-absolute
  height: 100vh
  width: 100%
  z-index: 2

.top-title
  position: absolute
  top: 2rem
  width: 100%
  text-align: center
  font-size: 16px

.center-section
  position: absolute
  top: 45%
  width: 100%
  text-align: center
  font-size: 18px

.title-index
  font-size: 4rem
  margin-top: -10px

.bottom-section
  position: absolute
  bottom: 3rem
  width: 100%
  text-align: center
  font-size: 16px

.new-prods
  font-size: 20px
  font-weight: 800

.new-product-card
  width: 100%
  margin: 0px auto !important
  img
    width: 100%

.title-card
  font-size: 15px

.title
  font-family: Poppins-Bold !important

.bottom-color
  border-bottom: 2px solid #FFCBD2
  width: 50px
  margin: 0px auto

.border-top-color
  border-top: 2px solid #ca7a85

.search-row
  .q-field__control
    background: #EE9CA7

.absolute-btn
  position: absolute
  z-index: 100
  bottom: 20px
  right: 30px
  height: 40px
  width: 40px

.absolute-top-right
  z-index: 100
  top: 5px
  right: 5px
  height: 40px
  width: 40px

.buttom-filter
  width: 17px !important
  height: 50px !important
  color: #a7a2a2
  border: 0.5px solid #E2E0E0
  i
    margin-top: 18px

.filter-input-quantity
  .q-field__control
    padding: 0 12px
    background: rgba(0, 0, 0, 0.05)
    border-radius: 0px 0px 0 0
    height: 50px

.border-dashed
  border-style: dashed
  border-color: #E2E0E0

.img-car
  object-fit: cover
  object-position: center center
  width: 100%
  height: auto

.category-div
  width: 80px
  height: 80px
  border-radius: 5px

del
  color: #bbb !important

ins
  color: #EE9CA7 !important
  text-decoration: none
  background-color: transparent
  padding: 0
  opacity: 1
