@font-face {
	font-family: Poppins;
	src: url(./fonts/Poppins-Regular.otf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(./fonts/Poppins-SemiBold.otf);
}

@font-face {
	font-family: Poppins-Bold;
	src: url(./fonts/Poppins-Bold.otf);
}z

.title {
  font-family: Poppins-Bold !important;
}

.font-20 {
	font-size: 20px;
}

.font-17 {
	font-size: 17px;
}

body {
  font-family: Poppins !important;
}