<template>
  <div class="row">
    <div class="col-12 bg-negative q-mt-md" v-for="(cart, idx) in carts" :key="idx">
      <div class="row full-width">
        <div class="col-12 q-pa-sm">
          <q-btn @click="deleteItem(idx)" round size="8px" color="black" icon="close" />
        </div>
        <div class="col-12 q-pa-sm">
          <center>
            <img v-if="cart.variation" :src="cart.variation.image.src" height="200px" width="140px" />
            <img v-else :src="cart.product.images[0].src" height="200px" width="140px" />
          </center>
        </div>
        <div class="col-12 q-pa-sm q-mt-md">
          <div class="row full-width">
            <div class="col-5">
              <span class="title font-20 text-uppercase text-left">
                producto
              </span>
            </div>
            <div class="col-7 ellipsis-2-lines font-17 text-right">
              <span style="margin-top: 3px; width: 100%">
                {{cart.product.name}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 q-pa-sm q-mt-md">
          <div class="row full-width">
            <div class="col-5">
              <span class="title font-20 text-uppercase text-left">
                precio
              </span>
            </div>
            <div class="col-7 ellipsis-2-lines font-17 text-right">
              <span style="margin-top: 3px; width: 100%">
                {{$price(cart.product.price)}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 q-pa-sm q-mt-md">
          <div class="row full-width">
            <div class="col-7">
              <span class="title font-20 text-uppercase text-left">
                cantidad
              </span>
            </div>
            <div class="col-5 ellipsis-2-lines font-17 text-right">
              <div class="row" style="width: 100%; margin-left: 45px; margin-top: -10px">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4 buttom-filter" @click="removeQuantity(idx)">
                      <q-icon name="remove" />
                    </div>
                    <div class="col-4 filter-input-quantity">
                      <q-input read-only disabled filled color="black" size="10px" v-model="cart.quantity" />
                    </div>
                    <div class="col-4 buttom-filter" @click="addQuantity(idx)">
                      <q-icon name="add" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 q-pa-sm q-mt-md">
          <div class="row full-width">
            <div class="col-5">
              <span class="title font-20 text-uppercase text-left">
                subtotal
              </span>
            </div>
            <div class="col-7 ellipsis-2-lines font-17 text-right">
              <span style="margin-top: 3px; width: 100%">
                {{$price(cart.quantity * cart.product.price)}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
    carts () {
      return this.$store.getters['order/cart']
    }
  },
  data () {
    return {
      total: 0
    }
  },
  methods: {
    removeQuantity (idx) {
      if (this.carts[idx].quantity > 1) {
        var quantity = this.carts[idx].quantity
        quantity--
      } else {
        return false
      }
      var data = {}
      data.idx = idx
      data.quantity = quantity
      this.$store.dispatch('order/deleteToItem', data)
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
      this.calculateTotal()
    },
    addQuantity (idx) {
      var quantity = this.carts[idx].quantity
      quantity++
      var data = {}
      data.idx = idx
      data.quantity = quantity
      this.$store.dispatch('order/addToItem', data)
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
      this.calculateTotal()
    },
    deleteItem (idx) {
      var data = {}
      data.idx = idx
      this.$store.dispatch('order/deleteItem', data)
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
      this.calculateTotal()
    },
    calculateTotal () {
      this.total = 0
      for (var i = 0; i < this.carts.length; i++) {
        this.total = this.total + (this.carts[i].quantity * this.carts[i].product.price)
      }
      this.$store.dispatch('order/setOrderTotal', this.total)
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getPriceIfHaveDiscount () {
      for (var i = 0; i < this.carts.length; i++) {
        var price = this.carts[i].product.price_html.split('<ins>')
        if (price.length === 2) {
          var discount = price[1].split('$</span>')
          var discountFinally = discount[1].split('</bdi></span></ins>')
          var newPrice = discountFinally[0].split('.')
          var newTotal = parseInt(newPrice[0] + newPrice[1])
          var data = {}
          data.idx = i
          data.price = newTotal
          this.$store.dispatch('order/changePriceInCart', data)
        } else {
          var discount2 = price[0].split('$</span>')
          var discountFinally2 = discount2[1].split('</bdi></span></ins>')
          var newPrice2 = discountFinally2[0].split('.')
          var newTotal2 = parseInt(newPrice2[0] + newPrice2[1])
          var data2 = {}
          data2.idx = i
          data2.price = newTotal2
          this.$store.dispatch('order/changePriceInCart', data2)
        }
      }
      this.calculateTotal()
    }
  },
  beforeMount () {
    this.getPriceIfHaveDiscount()
  }
}
</script>
