<template>
  <div class="row ">
    <div class="col-12">
      <div class="row full-width bg-accent">
        <div class="col-6 q-pa-md">
          <span class="font-20 title text-dark">CARRITO</span>
        </div>
        <div class="col-6 q-pa-md text-right" @click="closeCart">
          <span class="font-17 title text-dark">Cerrar -</span>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg" v-if="cart.length === 0">
      <div class="row full-width">
        <div class="col-4">
          <center>
            <q-icon class="q-mt-sm" size="50px" name="img:images/carrito-8.png" />
          </center>
        </div>
        <div class="col-8 text-right">
          <span class="font-20">
            No hay productos en el carrito
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg" v-if="cart.length > 0">
      <q-list separator>
        <q-item clickable v-ripple v-for="(item, idx) in cart" :key="idx">
          <q-item-section avatar>
            <q-avatar>
              <img v-if="item.variation" :src="item.variation.image.src">
              <img v-else :src="item.product.images[0].src">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="ellipsis-2-lines">
              {{item.product.name}}
            </q-item-label>
            <q-item-label caption>
              {{item.quantity}} x {{$price(item.product.price)}}
            </q-item-label>
            <q-item-label caption v-if="item.variation">
              <span v-for="(attribute, idx2) in item.variation.attributes" :key="idx2"><span class="title">{{attribute.name}}:</span> {{attribute.option}} <span v-if="idx2 + 1 != item.variation.attributes.length">|</span></span>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item @click="showCart" clickable class="q-mt-md">
          <q-item-section>
            <center>
              <q-btn text-color="black" class="" label="Finalizar compra" rounded color="accent" />
            </center>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  data () {
    return {}
  },
  methods: {
    closeCart () {
      this.$store.dispatch('auth/toggleDrawer')
    },
    showCart () {
      this.closeCart()
      this.$pushRoute('/main/cart')
    }
  },
  beforeMount () {
  }
}
</script>
