<template>
  <div class="row border-dashed q-pa-md">
    <div class="col-12">
      <q-input label="Código de cupón" v-model="coupon" filled/>
    </div>
    <div class="col-12 q-mt-md">
      <q-btn :disabled="setTrue" @click="applyCoupon()" size="17px" label="Aplicar cupón" class="full-width" color="accent"/>
    </div>
  </div>
</template>

<script>
const WooCommerceRestApi = require('@woocommerce/woocommerce-rest-api').default

export default {
  // name: 'ComponentName',
  computed: {
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  data () {
    return {
      coupon: '',
      WooCommerce: new WooCommerceRestApi({
        url: 'https://katikastienda.com/', // Your store URL
        consumerKey: 'ck_a649b37f0ebef629b2f280d3d8a59163eb1326d2', // Your consumer key
        consumerSecret: 'cs_53acec4a5315ee9b3e4f8f74f56fcfb1d82a27eb', // Your consumer secret
        version: 'wc/v3' // WooCommerce WP REST API version
      }),
      coupons: [],
      loadingCoupon: false,
      setTrue: false
    }
  },
  methods: {
    applyCoupon () {
      if (!this.coupon) {
        this.$SendNotify('negative', 'Ingresa el cupón de descuento.', 'red-9')
        return false
      }
      this.getAllCoupon()
    },
    getAllCoupon () {
      this.$q.loading.show()
      this.WooCommerce.get('coupons')
        .then((response) => {
          this.coupons = response.data
          this.verifyCoupon()
        })
        .catch((error) => {
          console.log(error.response.data)
        })
    },
    verifyCoupon () {
      var filter = this.coupons.filter(data => {
        return data.code === this.coupon
      })
      this.$q.loading.hide()
      if (filter.length === 0) {
        this.$SendNotify('negative', 'El cupón ingresado no existe.', 'red-9')
        return false
      }
      var data = {}
      data.id = filter[0].id
      data.code = filter[0].code
      data.amount = filter[0].amount
      this.$store.dispatch('order/setCoupon', data)
        .then((resp) => {
          this.setTrue = true
          this.$SendNotify('positive', 'Se ha configurado tu cupon de descuento.', 'green-9')
        })
        .catch((err) => {
          console.log(err)
          this.$q.loading.hide()
        })
    }
  },
  beforeMount () {
  }
}
</script>
