<template>
  <div class="row" style="margin-top: -20px">
    <div class="col-12 text-center">
      <span class="title font-20 text-uppercase" style="font-size: 27px">
        total del carrito
      </span>
    </div>
    <div class="col-12 q-mb-lg q-mt-lg">
      <div class="row">
        <div class="col-6 text-left">
          <span class="font-17 title">SUBTOTAL</span>
        </div>
        <div class="col-6 text-right">
          <span class="font-17">
            {{$price(total)}}
          </span>
        </div>
        <div class="col-6 text-left q-mt-md">
          <span class="font-17 title">TOTAL</span>
        </div>
        <div class="col-6 text-right q-mt-md">
          <span class="font-17 title">
            {{$price(total)}}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
    cart () {
      return this.$store.getters['order/cart']
    },
    total () {
      return this.$store.getters['order/total']
    }
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
