<template>
  <div class="row bg-primary" style="margin-top:-10px">
    <div class="col-12 text-center q-mt-lg">
      <span class="title font-20 text-uppercase" style="font-size: 30px">
        tienda
      </span>
    </div>
    <div class="col-12 text-center q-mb-lg" style="margin-top: 0px">
      <span class="font-15">
        Inicio / Tienda
      </span>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    cart () {
      return this.$store.getters['order/cart']
    }
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
