<template>
  <div class="row">
    <div class="col-12 q-pa-md text-justify" v-for="(buy, idx) in list" :key="idx">
      <div class="row">
        <div class="col-12">
          <center>
            <q-avatar size="100px">
              <q-img transition="scale" :src="'images/' + buy.icon" />
            </q-avatar>
          </center>
        </div>
        <div class="col-12 text-center q-mt-md">
          <span class="title text-bold text-h6">{{buy.id}}. {{buy.label}}</span>
        </div>
        <div class="col-12 text-center">
          <span class="font-17">{{buy.description}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    list: Array
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
