<template>
  <div>
    <q-img src="images/index.png" class="bg-index" />
    <div class="relative custom-absolute">
      <div class="top-title text-black text-weight-bolder q-mt-xl">
        Ropa femenina
      </div>
      <div class="center-section">
        <span class="text-black text-weight-bolder">
          Bienvenid@s a
        </span>
        <p class="text-white title-index text-weight-bolder">
          <q-img src="images/logo22.png" width="230px" height="70px" />
        </p>
      </div>
      <div class="bottom-section text-black text-weight-bolder">
        <div class="row">
          <div class="col-12">
            Síguenos en nuestras redes
          </div>
          <div class="col-12">
            <q-btn @click="openRrSs('https://www.facebook.com/katikastienda/')" flat densed color="white" icon="fab fa-facebook-f" />
            <q-btn @click="openRrSs('https://www.instagram.com/katikastienda/?hl=es-la')" flat densed color="white" icon="fab fa-instagram" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    filter () {
      return this.$store.getters['products/filter']
    },
    code () {
      return this.$store.getters['auth/code']
    }
  },
  data () {
    return {}
  },
  methods: {
    pushRoute () {
      this.$pushRoute('main')
    },
    setCode (length) {
      var result = ''
      var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
      for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)]
      return result
    },
    getCode () {
      var code = this.setCode(32)
      this.$store.dispatch('auth/setCode', code)
        .then((resp) => {
          console.log(resp)
          setTimeout(() => {
            this.pushRoute()
          }, (5000))
        })
        .catch((err) => {
          console.log(err)
        })
    },
    openRrSs (key) {
      cordova.InAppBrowser.open(key, '_system', 'location=yes')
    }
  },
  beforeMount () {
    if (!this.code) {
      this.getCode()
    } else {
      console.log(this.code)
      setTimeout(() => {
        this.pushRoute()
      }, (5000))
    }
  }
}
</script>
